# Ignore everything by default, to make status less messy when working directly from a checkout.
*
!*/

!_scripts/*
!config/**
!scripts/**

!.gitignore
!.editorconfig
!*.md
!mods.txt

config/ThermalTinkering/*.txt
config/enderio/recipes/*.pdf

scripts/_*
