# Ignore everything by default, to make status less messy when working directly from a checkout.
*
!*/

!_scripts/*
!config/**
!helper-scripts/**
!resources/**
!scripts/**

!.gitignore
!.editorconfig
!*.md
!mods.txt

helper-scripts/*/output/

config/ThermalTinkering/*.txt
config/enderio/recipes/*.pdf
scripts/_*
**/.*
